header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  height: 110px;
}

.temporizador {
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 4px;
border-radius: 12px;
margin: auto;
}

.temporizador h2 {
font-size: 16px;
margin-bottom: 20px;
color: #333;
}

.contador {
display: flex;
justify-content: space-around;
gap: 10px;
}

.contador span {
background-color: #ffffff;
padding: 6px 10px;
border-radius: 8px;
font-size: 22px;
font-weight: bold;
color: black;
min-width: 70px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
margin-bottom: 10px;
}

.body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

nav{
  display: flex;
  gap: 25px;
  align-items: center;
}

.botão{
  background-color: #f5ba53;
  padding: 14px;
  border-radius: 8px;
}
.temp{
  font-size: 18px;
}

.ladoE{
  display: flex;
  flex-direction: column;
}

.diminui{
  width: 430px;
  height: 235px;
  font-size: 20px;
}

.negativo{
  margin-top: -29px;
  padding-left: 20px;
}
.meio{
  display: flex ;
  justify-content: center;
  margin-top: 15px;
}

.b{
  margin-bottom: 20px;
}

.futuro{
  width: 690px;
  display: flex;
  flex-direction: column;

}
.gradiente1{
  background: linear-gradient(to bottom,#387DB2B2 69%,#61A2D41A 93% ,#FFFFFF 100%) ;
}
.td{
  display: flex;
  justify-content: space-around;

  margin: 0px;
}
.maior{
  font-size: 30px;
  color: white;
  padding: 30px;
}
.aj{
  display: flex;
  justify-content: start;
  margin-left: 80px;
}

.menor{
  font-size: 30px;
  color: #F5BA53;
}

.msm{
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: x-large;
}
.msm2{
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: red;
  font-weight: bolder;
}
.arrumar{
  border: 3px solid #9DC3F6BD;
  border-radius: 10px;
  width: 540px;
  margin: 3px;
}

.heig{
  position: absolute;
  margin-left:-60px ;
  margin-top: -60px;
}

.arrumar2{
  border-radius: 10px;
  width: 468px;
  max-width: 32.5%;
  margin: 3px;
  position: relative;
}

button{
  background-color:#f5ba53 ;
  padding: 20px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 14px;
  
}

.corw{
  color: white;
  font-size: 26px;
  padding-left: 20px;
}
.b2{
  background-color:#f5ba53 ;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 14px;
  margin-left: 47px;
}
.b3{
  margin-left: 47px;
}

.bignumbers{
  display: flex;
  gap: 15px;
  justify-content: space-around;
///
  padding-top: 16px;
}
.card{
  width: 95px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.teste{
  display: flex;
  justify-content: space-around;
  text-align: center;
///
}

.inverter{
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      border: solid 3px #9DC3F6BD;
      border-radius: 10px;
}

.flex{
  display: flex;
  align-items: center;
}
.text{
  text-align: center;
  width: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.img{
  border-radius: 20px;
  margin-left: 180px;
}
.titulo2{
  background-color: #f5ba53;
  padding: 20px;
  border-radius: 14px;
  width: 250px;
  position: absolute;
  margin-top: -30px;
 
}

.text2{
  text-align: center;
  background-color: #3F6582;
  width: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 12px;
  height: 250px;
  font-size: x-large;
  font-weight: bold;
  justify-content: center;
}

.cursos{
  display: flex;
  justify-content: center;  
  grid-auto-flow: column; 
  grid-auto-columns: 16rem;
  animation: animate 10s linear infinite;
  gap: 160px;
}


  

.cursos:hover {
animation-play-state: paused;
}

.tt{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.cursos {
  position: relative;
  padding: 40px 0;
}

.cursos-swiper {
  width: 100%;
}

.slide-content {
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.img {
  width: 40%;
  border-radius: 10px;
  object-fit: cover;
}

.text {
  width: 60%;
}

.titulo2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text2 {
  font-size: 16px;
}


.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}
.fun {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/src/assets/images/adm.png'); 
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fun2 {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/src/assets/images/info.png'); 
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 40px;
  border-radius: 15px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  font-size: x-large;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner p {
  font-size: 20px;
  line-height: 1.5;
}
.centralize{
  display: flex;
  justify-content: center;
  animation: slide 8s infinite;
}



.parte2 {
  overflow: hidden; /* esconde imagens fora do espaço */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: flex;
}

.parte2 img {
  object-fit: cover; /* ajusta imagem sem distorcer */
}


.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.gradiente{
  padding-top: 25px;
  margin-top: 25px;
  background: linear-gradient(0deg, #ffffff 0%, #9DC3F6BD 10.31%, #9DC3F6BD 50%,#9DC3F6BD 89.47% , #ffffff 100%);
}

.conhecahist{
  display:flex;
  justify-content: space-around;
  height: 600px;
}
 
.freitext{
  width: 40%;
}

.frei2{
  position: absolute;
    display: flex;
    margin-top: 200px;
    margin-left: 69px;
}

.column{
  display: flex;
  position: relative;
  margin-left: -200px;
  flex-direction: column;
}

.carrossel-container {
padding: 40px 20px;
}

.logo-parceiro {
height: 160px;
width: auto;
margin: auto;
display: block;
object-fit: contain;
transition: transform 0.3s ease;
}

.logo-parceiro:hover {
transform: scale(1.05);
}

.faq {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

.faq-item {
background: #f1f1f1;
padding: 15px 20px;
border-radius: 8px;
margin-bottom: 10px;
cursor: pointer;
}

.faq-item:hover {
background: #e0e0e0;
}

.faq-question {
font-weight: bold;
}

.faq-answer {
margin-top: 10px;
color: #333;
}

.faq-item.active .faq-question {
color: #007acc;
}

.faq-section{
display: flex;
justify-content: center;
align-items: center;
}

.aindaCdV{
display: flex;
flex-direction: column;
border: solid black 4px;
width: 300px;
margin-right: 10px;
padding: 20px;
border-radius: 8px;
}
.peq{
font-size: 10px;
font-weight: bolder;
}
.email{
background-color:#6faace ;
padding: 10px ;
border-radius: 5px;
}
.zap{
background-color:#7eb07f;
padding: 10px ;
border-radius: 5px;
}

.buts{
display: flex;
flex-direction: column;
gap: 10px;
}


.maps{
  display: flex;
  justify-content: center;
  margin:10px;
}
.mapa{
  border-radius: 36px;
}
.forms{
  display: flex;
  justify-content: center;
}

.vertical1{
  display:flex;
  flex-direction: column;
}

.oi{
  display: flex;
  gap: 70px;
}
.horizonte{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
margin-bottom: 40px;
}
.horizonte input{
  width: 486px;
}

input {
  border-radius: 5px;
  height: 25px;
  width: 300px;
}
.colorir1{
  padding: 30px;
  border: 2px solid  black;  
  border-radius: 50px;
  background-color: #2F5D80D1;
}
.colorir2{
  padding: 30px;
  border: 2px solid  black;  
  border-radius: 50px;
  background-color: white;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vai{
  display:flex;
  text-align: center;
  align-items: center;
}
.b4{
  width: 486px;
}

footer{
  background-color: black;
  height: 250px;
  margin-top: 200px;
}

.fundope{
  margin: 10px;
  border-bottom: 5px solid white;
  padding-bottom:25px ;
}

.f1{
  display: flex;
  justify-content: space-evenly;

}

.branco{
  color: white;
  text-align: end;
  margin-top: 25px;
}

.redes{
  display: flex;
  gap: 25px;
  margin-top: 25px;

}

.ajuste{
  margin-top: 25px;
  
}

.tt2{
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.link1{
  color: #ffffff;
  text-decoration: none;
}


@media (max-width: 1250px) {

  header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 170px;
  }

  .conhecahist{
    display:flex;
    justify-content: space-around;
    height: 600px;
  }
   
  .freitext{
    width: 40%;
  }
  
  .frei2{
      display: flex;
      margin-top: 290px;
      margin-left: 135px;
  }
  
  .column{
    display: flex;
    align-items: center;
    margin-left: -200px;
    
    flex-direction: column;
  }
  
  .temporizador {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
  border-radius: 12px;
  margin: auto;
  }
  
  .temporizador h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  }
  
  .contador {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  }
  
  

  .contador span {
    background-color: #ffffff;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    min-width: 70px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    }

    .arrumar2{
      margin-top: 74px;
      height: 500px;
    }

    .inverter{
      height: 500px;
    }
    

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .text {
    width: 90%;
    text-align: center;
  }

  .titulo2 {
    width: auto;
    font-size: 20px;
    padding: 16px;
    margin-top: 0;
    position: static;
  }

  .text2 {
    width: 100%;
    font-size: 16px;
    padding: 20px;
    height: auto;
  }

  .tex{
    text-align: left;
    font-size: 16px;
    margin: 0px 50px;
    overflow: hidden;
    width: 800px;
  }

  .conhecahist{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
  }

  .gradiente{
    height: 1200px;
  }
   
  .freitext{
    width: 40%;
    margin-bottom: 50px;
  }


  
  .column{
    display: flex;
    margin-left: -200px;
    flex-direction: row;
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 6px;
    top: 90%;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: 20%;
  }

  .swiper-button-next {
    right: 20%;
  }

  .cursos {
    padding: 20px 10px;
  }

  .slide-content {
    padding: 16px;
  }

  .banner {
    padding: 20px;
    font-size: large;
    max-width: 90%;
  }

  .banner h1 {
    font-size: 24px;
  }

  .banner p {
    font-size: 16px;
  }

  .futuro,
  .arrumar,
  .arrumar2 {
    width: 90% !important;
  }

  .b4,
  .b2 {
    width: 90%;
    margin-left: 0;
  }

  .colorir2 {
    width: 90%;
  }

  .oi {
    flex-direction: column;
    gap: 20px;
  }

  .f1 {
    flex-direction: column;
    align-items: center;
  }

  .redes {
    justify-content: center;
  }

  .msm, .msm2 {
    justify-content: center;
    padding-left: 0;
    font-size: large;
  }

  .mapa {
    width: 90%;
    height: auto;
  }

  .forms,
  .maps {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
  }

  .bignumbers,
  .teste {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .colorir1 {
    padding: 20px;
  }

  .fundope {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
  }

  footer{
    background-color:white;
  }

  .branco {
    text-align: center;
  }
  .img{
    border-radius: 20px;
    margin-left: 0px;
  }
}