
.fundo{
    background: linear-gradient(0deg, #ffff,#3F6582 );
    padding: 350px;
}

.ajust{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

.esquerda{
    padding-right: 250px;
}
.esquerda2{
    padding-right: 250px;
    margin-top: 35px;
}